<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/static/vendor/modernizr-2.8.3.min.js"></script>
<script src="/static/vendor/jquery-1.11.3.min.js"></script>

<script src="{{ static_url('index2.js') }}" type="text/javascript"></script>

<body>
<div>
    用户名： <input type="text"> <br/>
    密 码： <input type="text"> <br/>
</div>

<button onclick="check_vc()">Check_VC</button> <br/>
<div id="tip_smscode"></div> <br/>

<div class='valcode' style="display: none">  <!---->
    <input type="text" value="输入验证码" id="vcode"> <br />
    <img id="img_smscode"><br />
    <button onclick="get_captcha()">更换验证码</button>　<br/>
</div>

<div id="mydiv"></div>

<button id="bt_login" onclick="login()">登录</button>　<br/>

</body>
</html>